@use '@/assets/styles/mixins' as *;

@include inputCursor;

.introContainer {
  text-align: center;
  margin-top: 3rem;
  width: 100%;
  min-height: 92vh;
  max-height: 1075px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  padding-bottom: 4rem;
}
.intro {
  h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 40px;
    font-weight: 600;
  }
}
.typed {
  color: rgb(60, 170, 125);
  font-size: 25px;
}
a {
  cursor: default;
}
svg {
  margin: 1rem;
  transition: transform 0.2s, fill 0.2s;
  &:hover {
    transform: scale(1.1);
    fill: rgb(60, 170, 125);
    cursor: pointer;
  }
}