@use '@/assets/styles/variables' as * ;

.projectContainer {
  display: flex;
  justify-content: space-between;
  @media (min-width: 880px) {
  margin-bottom: 4rem;
    &:hover {
      .topImage {
        left: 35px;
      }
      .middleImage {
        left: 125px;
      }
      .bottomImage {
        left: 215px;
      }
    }
  }
  @media (max-width: 880px) {
    flex-direction: column;
    align-items: center;
  }
}
.title {
  font-weight: 500;
  text-decoration: underline;
}
.ProjectDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 445px;
  justify-content: center;
  div {
    padding-top: 3px;
  }
  a {
    margin-right: 8px;
  }
  @media (max-width: 880px) {
    max-width: 500px;
  }
}
.pics {
  width: 125%;
  height: 400px;
  img {
    position: absolute;
    transition: transform 0.2s, left 0.5s;
    outline: 2px solid $background-light;
    border-radius: 5px;
    &:hover {
      transform: scale(1.2);
      z-index: 100;
    }
  }
  .forkImg {
    outline: 2px solid black;
  }
  @media (max-width: 880px) {
    width: 0;
    height: 385px;
    img {
      transform: scale(0.8);
      &:hover {
        transform: scale(0.9);
        z-index: 100;
      }
    }
  }
}

.topImage {
  top: 0;
  left: 15px;
  z-index: 30;
}
.middleImage {
  top: 55px;
  left: 65px;
  z-index: 20;
}
.bottomImage {
  top: 105px;
  left: 115px;
  z-index: 10;
}

@media (max-width: 880px) {
  .topImage {
    top: 0;
    left: -200px;
    z-index: 30;
  }
  .middleImage {
    top: 55px;
    left: -175px;
    z-index: 20;
  }
  .bottomImage {
    top: 105px;
    left: -155px;
    z-index: 10;
  }
}