
/* Global Colors */
$background-light: #222222;
$background-dim: #252525;
$background-dull: #1b1b1bd9;
$background-dark: #181818;
$green-light: rgb(60, 170, 125);
$green-faded: rgba(60, 170, 125, 0.85);
$green-dull: rgba(60, 170, 125, 0.5);

$gray-light: rgba(235, 235, 235, 0.64);