img {
  transition: transform 0.2s, filter 0.2s;
  &:hover:not(.Vercel, .Nextjs) {
    filter: drop-shadow(5px 5px 5px black);
    transform: scale(1.2);
  }
  &:hover.Vercel {
    filter: drop-shadow(4px 4px 4px rgb(35, 35, 35));
    transform: scale(1.2);
  }
  &:hover.Nextjs {
    filter: drop-shadow(6px 6px 6px rgb(30, 30, 30));
    transform: scale(1.2);
  }
}